html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  position: absolute;
  z-index: -1;
  top: 0;
}

h1 {
  color: #F0F0F0;
  text-align: center;
  background-color: rgba(0,0,0,.4);
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
